.ChallengeCertifyPage{
    margin-top: $headerSize;
    width: 100%;
    
    @include flexCenter(column);
    overflow: hidden;
}

.challengeCertifyWrap{
    @extend .ChallengeCertifyPage;
    margin-top: 20px;
    padding-bottom: 60px;
}

.challengeCertifyDayUIWrap{
    @include flexCenter(column);
    margin-top: 20px;
    overflow: auto;
}
.challengeCertifyBtnWrap{
    position: fixed;
    bottom: 0;
    
    width: 100%;
    height: 60px;
    @include flexCenter(row);
    background-color: #F5F5F5;
}

.challengeCertifyBtn{
    width: 100%;
    height: 60px;
    border-radius: 4px;
    background-color: #F5F5F5;
    @include flexOneCenter(row);
    justify-content: space-between;
    padding: 10px;

    div{
        width: 100%;
        padding: 10px;
        @include flexOneCenter(row);
        justify-content: space-between;
        p{
            width: 50%;
            color: #7C7C7C;
            font-weight: 300;
        }
        img{
            width: 18px; height: 18px;
            cursor: pointer;
        }
    }
}