.ChallengePage{
    @include flexCenter(column);
}

.challengeSearchWrap{
    @include flexCenter(column);
    width: 100%;
    background-color: white;
    padding: 10px;
}

.challengeSearch{
    width: 90%; height: 35px;
    background-color: #EEEEEE;
    border: none;
    border-radius: 8px;
    color: #787878;
    padding: 5px;
}

.ChallengeListWrap{
    @include flexCenter(column);
    width: 100%;
    background-color: #F4F4F4;
    
}

.ChallengeList{
    @include flexCenter(column);
    width: 100%;
}