.Main {
  width: 100%;
}

.mainBtnWrap {
  width: 100%;
  margin-top: 7px;
}

.mainBtnWrap .mainBtn {
  border: 0px;
  font-size: 20px;
  background-color: transparent;
  padding: 5px 5px 0px 10px;
}

.mainSelectedBar {
  width: 70px;
  height: 3px;
  border-radius: 1.5px;
  background-color: black;
  margin-top: -2px;
}

.mainBar {
  width: 100%;
  height: 1px;
  background-color: #D8D8D8;
}

.ProfileUI {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F5F5F5;
  border-radius: 11px;
  padding: 10px 5px;
  margin: 5px 0;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 15px 0;
}

.profileImg {
  width: 75px;
  height: 75px;
}

.profileInfoWrap {
  width: 75%;
  padding-left: 10px;
}

.profileInfoWrap .profileName {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 3px;
}

.profileInfoWrap .profileBio {
  font-size: 14px;
}

.Challenge {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFFFF;
  border-radius: 11px;
  padding: 10px 5px;
  margin: 5px 0;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.challengeContent {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.challengeImgWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.challengeInfoWrap {
  width: 75%;
  padding-left: 10px;
}

.challengeName {
  font-size: 20px;
}

.challengeName b {
  font-weight: 500;
}

.challengeDetail {
  width: 100%;
  font-size: 9px;
  font-weight: 400;
}

.ParticipatingUI {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.mainTitle {
  width: 90%;
}

.challengeWrap {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F5F5F5;
  border-radius: 11px;
  padding: 10px 5px;
  margin: 5px 0;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 270px;
  overflow-y: scroll;
  position: relative;
  top: 0;
}

.challenges {
  width: 100%;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.MainPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
}

.CompletionBar {
  width: 90%;
  margin: 2px 0;
}

.completeBar {
  width: 100%;
  height: 9px;
  background-color: white;
  border-radius: 14px;
}

.TopUI {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15px;
}

.topWrap {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F5F5F5;
  border-radius: 11px;
  padding: 10px 5px;
  margin: 5px 0;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 400px;
  overflow-y: hidden;
}

.topChallenges {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ChallengePage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.challengeSearchWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: white;
  padding: 10px;
}

.challengeSearch {
  width: 90%;
  height: 35px;
  background-color: #EEEEEE;
  border: none;
  border-radius: 8px;
  color: #787878;
  padding: 5px;
}

.ChallengeListWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #F4F4F4;
}

.ChallengeList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.ChallengeDetailPage {
  width: 100%;
  height: 100vh;
  background-color: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.challegeBackWrap {
  width: 100%;
  padding: 10px;
}

.challengeBackBtn {
  border: none;
  font-size: 14px;
  background-color: transparent;
}

.challengeDetailWrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ChallengeInfoUI {
  width: 90%;
  height: 275px;
  background-color: white;
  border-radius: 4px;
  padding: 12px;
  margin-top: 20px;
}

.ChallengeInfoUI table {
  height: 200px;
  margin-top: 15px;
}

.ChallengeInfoUI table td {
  padding: 3px 0;
}

.challengeInfoTitle {
  color: #838383;
  font-size: 20px;
  font-weight: 400;
}

.challengeInfoCategory {
  width: 23%;
  font-size: 14px;
}

.challengeInfoContent {
  font-size: 14px;
}

.ChallengeSumitDone {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: white;
  opacity: 0.8;
}

.ChallengeSubmitBtnUI, .ChallengeSubmitBtnWrap {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 70px;
  background-color: white;
}

.ChallengeSubmitBtnWrap {
  padding: 3px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.challengeSubmitBtn {
  height: 85%;
  width: 80%;
  background-color: #72A549;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.challengeSubmitLogo {
  width: 18%;
  height: 85%;
  border-radius: 6px;
  background-color: #CDE5B9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.challengeSubmitLogo img {
  display: inline-block;
  height: 80%;
}

.challengeSubmitLogoImg {
  width: 40px;
  height: 40px;
}

.mainTitle {
  font-size: 22px;
}
/*# sourceMappingURL=main.css.map */